body {
  background-color:#000;
  font-family: 'Actor';
  font-size:22px;
}

h1 {
  font-size:15px;
  margin-top:0;
  font-family:Arial, sans-serif;
  text-shadow:2px 0 15px #292929;
  letter-spacing:4px;
  text-decoration:none;
  color:#DDD;
}

.div_wrapper {
  width:100%;
  text-align: center;
}

.row{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img{
  width:130px;
  height:130px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

.img_wrapper { 
  width: 130px;
  height: 130px;
  display: inline-block;
  background: #c6b52d;
  border-radius: 4px;
}

.key_wrap {
  margin-top:0px;
  margin-bottom:5px;
}
  
.t_wrap {
  margin-top:0px;
  margin-bottom:0px;
}

.game_info_wrap{
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 5px 15px;
  display:block;
  color:white;
  border:1px solid white;
  border-radius: 5px;
  background-color:#010c1a;
}

#key_text{
  color:#429bf4;
  text-decoration: underline;
}


.hoverable_img:hover {
  transform: scale(2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  z-index: 100;
  position:relative;
}

.red_card {
  background-color: red;
}

.blue_card {
  background-color: blue;
}

.yellow_card {
  background-color: yellow;
}

.gray_card {
  background-color: gray;
}

  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #b06fa4;
  margin: auto;
  padding: 60px 40px;
  width: 55%;
  border-radius: 6px;
  text-align: center;
  /*
  display: flex;
  
  justify-content: center;
  */
  align-items: center;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.modal_title {
  font-size: 39px;
  /*margin-top:20%;*/
}

.centered{
  display: flex;
    align-items: center;
    justify-content: center;
}
.play_again{
  margin-top:80px;
  font-size: 16px;
}

.play_again_btn{
  background-color: #429bf4;
  color: white;
  border-radius: 4px;
  border:none;
  font-size: 17px;
  font-family: 'Actor';
}

.play_again_btn:hover
{
  background-color: #3276ba;
}

.game-heading:hover {
  cursor: pointer;
}





